<a href="/good/">EXPECTED BEHAVIOR</a>

<a href="/bad/">BEHAVIOR SHOWN</a>

The border shows the height of the ad. The fully inflated ad is in expected behavior, however behavior shown makes it collapsed. 